# Python
__pycache__/
*.py[cod]
.Python
venv/
.venv/
.env

# MLflow
mlruns/
mlartifacts/

# Large files that DVC will handle
data/california_housing.csv
models/housing_model.pkl
models/scaler.pkl

# OS & IDE
.DS_Store
.vscode/
.idea/

# DVC cache only (NOT .dvc files!)
.dvc/cache